<center><p>Now it's time for some math fun!<br> 
.<br>
</p></center>
<center>
<img class="sizeimage" align="middle" src="/img/change.png">
    </img>
    </center>
<center>
<p>Now give me a number $1.00 or less to break up into the fewest coins.</p>
<form method = "post" action = "/change">
	<input type = "number"  name = "change">
	<input type = "submit">
</form>
</center>